#Ja
{
  color: gold;
  text-align: center;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
#Ju
{
  color: blue;
  text-align: center;
  font-size: 500%;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

body
{
  animation-name: Animacion;
  animation-duration: 5s;
}

@keyframes Animacion
{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
